html,
body {
    height: 100%;
}

body {
    background-color: #f5f5f5;
}

.form-signin {

    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: 15px auto;
    height: 85%;
}

.form-signin .checkbox {
    font-weight: 400;
}

.form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}

.form-signin .form-control:focus {
    z-index: 2;
}

.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.navbar {
    background-color: #9f224e !important;
}

#bogd {

    font-size: 18px;
    font-weight: 700;
    padding: 0%;
    margin: 0%;
    color: white;
}

#csdl {

    font-size: 18px;
    font-weight: 700;
    color: yellow;
}

.headtext {
    margin-top: 15px;
    width: 100%;
    text-align: center;
    position: absolute;
}

.footer {
    background: #f1f1f1;
    border-top: 2px solid #cccccc;
    bottom: 0;
    height: 61px;
    position: absolute;
    width: 100%;
}

.footerText {
    color: #9f224e;
    font-family: Arial;
    font-size: 15px;
    font-weight: bold;
    text-align: right;
    padding-right: 10px;
}

@media only screen and (max-width: 600px) {
    #bogd {
        font-size: 15px;

    }

    #csdl {
        font-size: 13px;
    }
}